include LICENSE
include RevenewSPR/savedmodels/*.dat
include RevenewSPR/preprocessing/sql/*.sql
include gooey/images/*.png
include gooey/images/*.ico
include gooey/images/*.jpg
include gooey/images/*.gif
include gooey/languages/*.json
include gooey/tests/*.json